// main: main.sass

// Variables
$gray: #888888
$green: #02CCBA
$pink: rgb(170, 48, 212)
$red: rgb(198, 27, 124)
$dark: #222
$dark-transparent: rgba(#cfcfcf, 0.2)
$deep-blue: rgb(51, 93, 143)
$dark-blue: rgb(59, 81, 195)

$desktop: 1000px
